.git
.github

.idea
.vscode
.codegraph
.superpowers

**/.env
**/.env.*
!**/.env.example

**/.venv
**/node_modules

**/.svelte-kit
**/build
**/.output

**/__pycache__
**/*.pyc

**/test-results
**/playwright-report

tempdata

docs