SECRET_KEY=should-be-64-characters
PUBLIC_TURNSTILE_SITE_KEY=on-production-you-must-have-turnstile-configured
TURNSTILE_SECRET_KEY=on-production-you-must-have-turnstile-configured

DB_NAME=tnmt_reg_hub_staging
DB_USER=tnmt_reg_hub_staging
DB_PASSWORD=no-more-than-99-characters-due-to-postgres-limitations
DB_HOST=db
